@charset "utf-8";




.encabezado{
	background-color:black;
	width: 100%;
	height: 100px;
	color: white;
	text-align: center;
	display:inline-table;
	margin-bottom: 70px;

}

.encabezado p{font-size: 43px;
	display:table-cell;
	vertical-align: middle;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 800;
}

.texto1{
	background-color: black;
	width: 20%;
	height:50px; 
	float: left;
	margin: 2.5%;
	text-align: center;
	display: inline table;
	color: whitesmoke;
}

.texto1 p{
	font-size:100%;
	vertical-align: middle;
	
}

.imag{
	height:290px;
	width: 20%;
	margin: 2.5%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover
}

.texto2{background-color: black;
	width: 20%;
	height:200px; 
	float: left;
	margin: 2.5%;
	text-align: center;
	display: inline table;
	color: whitesmoke;
	
	
}

.texto2 p{
	
	vertical-align: middle;
}

.clips{ 
	width:20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 20px;
	float: left;
	
}

.contenedor{
	width: 90%;
	height: 800px;
	margin-left: 5%;
	margin-right: 5%;	
}

#uno{background-image:url("imag/evan.jpg")}
#dos{background-image:url("imag/melanie.jpg")}
#tres{background-image:url("imag/halestorm.jpg")}
#cuatro{background-image:url("imag/missio.jpg") }